<div class="container">
  <%= link_to 'create a new note', new_note_path, class:"edit-button medium-button" %>
  <h1>my notes</h1>

  <table>
    <thead>
      <th>Title</th>
      <th>Type</th>
      <th>Deadline</th>
      <th> </th>
      <th> </th>
    </thead>
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, note_path(note) %></td>
      <td><%= note.note_type %></td>
      <td><p><%= note.deadline.strftime('%m/%d/%Y') if note.deadline %></p></td>
      <td><%= link_to 'Edit', edit_note_path(note), class:"edit-button small-button" %></td>
      <td><%= link_to 'Delete', note_path(note), :method => 'delete', class:"delete-button small-button" %></td>
    </tr>
  <% end %>
</table>

</div>
